.titulo
{
    margin-left: 10px;
}

.divUno
{
    background-color: #29af87;
    height: 50px;
    color: white;
}

.navm
{
    background-color: #29af87;
}

.navm li:hover
{
    background-color: #117456;
    transition: background-color .7s;
    border-radius: 3px 3px 3px 3px;
}
