.malla-container {
  width: 1700px;
}

.flex {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

.flex-element {
  margin: 4px;
  border: 1px solid #29af87;
  padding: 1px;
  background-color: #29af87;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  border-radius: 50px;
  width: 150px;
  text-align: center;
}

.botoncss {
  width: 150px;
  border-radius: 15px;
}
