.flex {
  display: flex;
  justify-content: space-between;
}

.flex-element {
  margin: 4px;
  border: 1px solid #29af87;
  padding: 1px;
  background-color: #29af87;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  border-radius: 50px;
  text-align: center;
  width: 130px;
}

.botonAsignatura {
  width: 130px;
  border-radius: 15px;
}

.letra {
  font-size: 2vh;
}

.aprobado {
  background-color: #c5e6d7;
  color: #000;
  border: #d1e7dd;
}

.aprobado:hover {
  background-color: #80e4b7;
  color: #000;
  transition: .9s;
}

.no-inscrito {
  background-color: #cecece;
  color: #000;
  border: #cecece;
}

.no-inscrito:hover {
  background-color: #919191;
  color: #000;
  transition: .9s;
}

.reprobado {
  background-color: #ecafb4;
  color: #000;
  border: #f8d7da;
}

.reprobado:hover {
  background-color: #e07f89;
  color: #000;
  transition: .9s;
}

