
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.flex-element {
  margin-right: 100px;
  border: 1px solid #29af87;
  padding: 1px;
  background-color: #29af87;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  border-radius: 50px;
  width: 200px;
  text-align: center;
}

.botonAsignatura
{
  width: 200px;
  margin-right: 100px;
  border-radius: 15px;
  
}

.letra
{
  font-size: 2vh;
}