.lista:hover
{
    background-color: rgb(190, 190, 190);
    transition: .9s;
}

.tamano
{
    width: auto;
}

.navAdmin
{
    color: white;
    background-color: #29af87;
}

.out
{
    color: white;
    
}

